@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.content {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.map {
  text-align: right;
  font-family: 'Roboto', sans-serif;
}
